name: Check links

on:
  pull_request:
  push:
    branches:
    - main
  schedule:
    # Everyday at 4:00 AM
    - cron: "0 4 * * *"

jobs:
  check-links:
    name: Check links
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Check links
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        folder-path: "src"
        use-quiet-mode: "yes"
        config-file: ".github/workflows/link-check-config.json"
