name: Build mdbook

on:
  pull_request:
    # Enumeration needed to also remove the preview pages on PR close
    types:
      - opened
      - reopened
      - synchronize
      - closed
  push:
    branches:
      - main
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-deploy:
    name: Build & deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write # to write to github pages branch
      pull-requests: write # to update comments
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@V27
        with:
          extra_nix_config: |
            accept-flake-config = true
            log-lines = 1000

      - name: Build
        run: |
          nix build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        # if: github.ref_name == 'main'
        with:
          folder: ./result
          single-commit: true

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        if: github.event.pull_request
        with:
          source-dir: ./result
